/* GENERAL LAYOUT OF THE PAGE */

/* A few reminders:
 *
 * margin or padding with 2 values: top-bottom left-right
 *               ... with 3 values: top left-right bottom
 *               ... with 4 values: top right bottom left
 */

body {
  color: #201810;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  line-height: 1.3;
  font-size: 100%;
  margin: 1%;
}

div#search, div#facets, div#results { padding: 1.0em; }

div#container { width: 100%; }
div#left { float: left; width: 30%; height: 100%; border: 1px solid; border-right: 0; }
div#right { float: left; width: 69%; height: 100%; border: 1px solid; }

/* FORMAT OF THE SEARCH PANEL */

div#search { height: 15%; background-color: #E0E0E0; border-bottom: 1px solid; }
div#search p.subtitle { display: inline-block; font-size: 100%; margin: 0;  }
div#search p.logo { display: inline-block; font-weight: bold; font-size: 150%; margin: 0;  }
div#search input { width: 90%; margin: 1em 0; }

/* FORMAT OF THE FACET PANEL */

/*
div#facets div.wrapper { position: relative; }
div#facets div.scroll { height: 10em; overflow: auto; margin-top: 1.4em; }
div#facets table thead td { position: absolute; top: -2.0em; z-index: 2; height: 1.4em; }
div#facets table tfoot td { position: absolute; bottom:  3.0em; z-index: 2; height: 1.4em; }
*/

div#facets { height: 75%; background-color: #E9E9E9; }
div#facets p { display: inline-block; }
div#facets table { display: inline-block; table-layout: fixed; margin: 0.5em 0;}
div#facets table { border-spacing: 1px; }
div#facets table tr { background-color: white; height: 1.4em; }
div#facets table th { text-align: left; font-size: 90%; padding: 0.4em 0.5em; }
div#facets table td { text-align: left; font-size: 90%; padding: 0.0em 0.5em; }
div#facets table th { border-collapse: separate; border-radius: 3px; -moz-border-radius: 3px; }
div#facets table td { border-collapse: separate; border-radius: 3px; -moz-border-radius: 3px; }
div#facets table td:nth-child(1) { width: 0%; overflow: hidden; text-overflow: ellipsis; }
div#facets table td:nth-child(2) { width: 100%; overflow: hidden; text-overflow: ellipsis; }
div#facets table td:nth-child(3) { width: 0%; overflow: hidden; text-overflow: ellipsis; text-align: right; }
div#facets table tfoot td { width: 100%; font-size: 70%; overflow: hidden; text-overflow: ellipsis; }

/* FORMAT OF THE HITS PANEL */

div#results { height: 95%; background-color: #FEFEFE; }
div#results p.header { color: black; font-size: 100%; }
div#results div.hit { display: block; margin: 0.5em 0; }
div#results div.hit p { margin: 0.1em 0; font-size: 120%; }
div#results div.hit p.title { color: darkblue; text-decoration: underline }
div#results div.hit p.subtitle { color: darkgreen; }
div#results div.hit p.excerpt { color: #333333; }

