/*
 * Some CSS definition especially for IE 5 - 6
 *
 */

/* For IE 5 - 6 "position: fixed" don't work like expected, so we use "position: absolute" */
#left_bg
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 432px;
  height: 100%;
  z-index: 6;
	background: rgb(229,228,229);
}


/* For IE 5 - 6 "position: fixed" don't work like expected, so we use "position: absolute" */
#detail_bg
{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  display: none;
  z-index: 6;
	background: rgb(229,228,229);
}


/*	The next both classes define the layout of the completion boxes
    For example, the last value of padding defines the left indend of the title or the entries
*/
.ac_completions
{
	font-size: 100%;
	/* ATTENTION: padding-right must be 1px less than the one of .ac_completions_title;
	   because box elements like .box_1w_2 have a padding-right of 1px due to a IE bug */
	padding: 1px 0;
	margin: 0;
	/* Each line needs 1.3em (line-height) + 0.1em for the bottom-line of # --> for 6 lines = 8.4em
	   Add 0.1em for padding-top + 0.1 for rounding --> 8.6em */
	/* NEW 23Jul07 (Holger): 5 slots are enough by default */
	height: 7.4em; /* 8.6em; */
	line-height: 1.3;
	border-left: 1px solid rgb(181,181,181);
	border-bottom: 1px solid rgb(181,181,181);
	border-right: 1px solid rgb(181,181,181);
	border-top: 0px;
	display: block;
	overflow: auto;
	/* overflow-x is a IE-specific property;
	   we need it to prevent ugly looking horizontal scrollbars in the boxes */
  overflow-x: hidden;
	background: white;
}
