# EXAMPLE ENTRY
# <link
#	url="www.mpi-inf.mpg.de/"         // Site that you want to download
#	path="/nfs/raid1/skilevis/test2/" // Directoty where the site must be saved
#	filter="+*www.mpi-sb.mpg.de*"     // Witch urls must be included from crawler in any case
#	filter="-*/cgi-bin/*"             // Witch urls must be excluded from crawler in any case
#	status="n"                        // Status of link, what mast be dann with your link
#                                         // d(Download) u(Update) n(Do Nothing)
#	build="false"                     // Set true if you want, that crawler include this link in CSV File
# />
#-----------------------------LINKS---------------------------------------------
<link
	url="http://www.mpi-inf.mpg.de/~hullin/projects/FIRS/data/glassCylinders.obj"
	path="/nfs/raid1/skilevis/test3/"
	filter=""
	status="n"
	build="false"
	maxFileSize="10M"
/>
<link
	url="www.mpi-inf.mpg.de"
	path="/nfs/raid1/skilevis/data/site_1/"
	filter="+http://www.mpi-sb.mpg.de*"
	filter="+http://www.mpii.mpg.de*"
	filter="+http://bioinf.mpi-inf.mpg.de*"
	filter="+http://www.mpi-sws.mpg.de*"
	filter="+http://www.mpi-sws.org*"
	filter="+http://www.imprs-cs.de*"
	filter="+http://www.cgal.org*"
	filter="+http://www.leda-tutorial.org*"
	filter="+http://www.waldmeister.org*"
	filter="+http://www.vihap3d.org*"
	filter="+http://www.fdsi.org*"
	filter="+http://www.aim-at-shape.net*"
	filter="+http://www.geno2pheno.org*"
	filter="+http://www.mpc-vcc.org*"
	filter="+http://www.d2.mpi-inf.mpg.de*"
	filter="-*/cgi-bin/*"
	filter="-*d3/intranet*"
	filter="-*oracle/server.920/*"
	filter="-*oracle/olap.920/*"
	filter="-*oracle/appdev.920/*"
	filter="-*oracle/mix.920/*"
	filter="-*oracle/java.920/*"
	filter="-*oracle/workflow.920/*"
	filter="-*oracle/em.920/*"
	filter="-*oracle/network.920/*"
	filter="-*oracle/text.920/*"
	filter="-*~bast/collections/data*"
	filter="-*~hannah/collections/data*"
	filter="-*~elidee/toc*"
	filter="-*www.mpi-inf.mpg.de/departments/d5/teaching/ss05/is05/java*"
	status="u"
	build="true"
	maxFileSize="8M"
/>
